<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Acme Registration</title>
<link rel="icon" href="/logo.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    html, body { height: 100%;}
    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
      
@media only screen and (max-device-width:479px) {
  a  {font-size: 14px !important; line-height: 150% !important;}
  h1 {font-size: 22px !important; text-align: center; line-height: 120% !im=
portant;}
}

@media all {
  .b-logo    {height: 50px;}
  .b-wrapper {width: 600px; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-title   {width: 100vw; margin: 0px; padding: 40px 20px 10px 20px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px 20px  0px 20px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-button  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
}
@media only screen and (max-device-width:479px) {
  .b-logo    {height: 40px;}
  .b-wrapper {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-title   {width: 100vw; margin: 0px; padding: 15px  0px  5px  0px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px  0px  0px  0px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-button  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 10px 10px 10px 10px;}
}

@media all {
  .only-desktop {display:initial;}
  .only-mobile  {display:none ;}
}
@media only screen and (max-device-width:479px) {
  .only-desktop {display:none ;}
  .only-mobile  {display:initial;}
}: 
</style>
</head>

<body>
    <div >
        <div class="modal-body text-center">
            <div id="form">
                <h3>
                <div class="only-mobile">
                    Does not work on mobile yet
                </div>
                <div class="only-desktop">
                <form>
                    <input id="name" name="name" placeholder="name" size="20"></br>
                    </br>
                    <input id="document_number" name="document_number" placeholder="document number" size="20">
                    </form>
                </div>
                <div>
                    <iframe frameborder=0 id="qr" width=300 height=300 src=/srcpic></iframe>
                </div>
                <div>
                    <input type="submit">
                </div>
                </h3>
            </div>
            <iframe id="l" width="1" height="1" style="visibility:hidden"></iframe>
</body>
</html>

<script type="text/javascript">
</script>
