<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Acme Login</title>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src='/slidetounlock.js'></script>
<link rel="icon" href="https://acme.svipe.com/logo.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet' href='/svipe.css'>
<style>
    html, body { height: 100%;}
    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
      
@media only screen and (max-device-width:479px) {
  a  {font-size: 14px !important; line-height: 150% !important;}
  h1 {font-size: 22px !important; text-align: center; line-height: 120% !im=
portant;}
}

@media all {
  .b-logo    {height: 50px;}
  .b-wrapper {width: 600px; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-title   {width: 100vw; margin: 0px; padding: 40px 20px 10px 20px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px 20px  0px 20px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-button  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
}
@media only screen and (max-device-width:479px) {
  .b-logo    {height: 40px;}
  .b-wrapper {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-title   {width: 100vw; margin: 0px; padding: 15px  0px  5px  0px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px  0px  0px  0px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-button  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 10px 10px 10px 10px;}
}

@media all {
  .only-desktop {display:initial;}
  .only-mobile  {display:none ;}
}
@media only screen and (max-device-width:479px) {
  .only-desktop {display:none ;}
  .only-mobile  {display:initial;}
}: 

</style>
</head>

<body>
    <div>
        <p>
        <center>
        <div id="well" style="width:400px;text_align:right;">
        <h2><strong id="slider"></strong><span style="float:center;">Out</span></h2>
        </div>
        </center>
        </p>
    </div>
</body>
</html>

<script type="text/javascript">

var redirect_uri = "{{{redirect_uri}}}";

$(document).ready(function() {
  setupSocket();
  $("#signup").hide();
  $("#cancel").hide();
  $("#progress").hide();
});

function showQR() {
    $("#signin").hide();
    $("#signup").show();
    $("#cancel").show();
}

function showProgress() {
    $("#signup").hide();
    $("#promotion").hide();
    $("#cancel").show();
    $("#progress").show();
}

function setupSocket() {

    const socket = io('https://acme.svipe.io');
    //const socket = io('http://localhost:4567');
    if (socket == null ) {
        console.error("Socket could not be opened");
        return;
    }
    var helloMsg = {op: 'hello', uuid: '{{{sessionID}}}' };
    socket.emit("message", helloMsg);
    socket.on("message", function(msg) {
        console.log("received ",msg);
        if (msg.op == "hello") {
            console.log("socket established");
        } else if (msg.op == "progress") {
            console.log("progress");
            showProgress();
        } else if (msg.op == "authdone") {
            var jws = msg.jwt;
            var sub = msg.sub;
            if (jws != null) {
                console.log("received jws token", jws);
                socket.close();
                // Now redirect 
                window.location.href = "/welcome/"+jws;
            } else {
                console.error("No jws token received");
            }
        } else {
            console.error("Could not contact socket server")
        }
    });   
}
</script>
