<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Acme Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<link rel="icon" href="https://acme.svipe.com/logo.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    html, body { height: 100%;}
    .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

@media only screen and (max-device-width:479px) {
  a  {font-size: 14px !important; line-height: 150% !important;}
  h1 {font-size: 22px !important; text-align: center; line-height: 120% !im=
portant;}
}

@media all {
  .b-logo    {height: 50px;}
  .b-wrapper {width: 600px; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-title   {width: 100vw; margin: 0px; padding: 40px 20px 10px 20px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px 20px  0px 20px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-button  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 20px 20px 20px 20px;}
}
@media only screen and (max-device-width:479px) {
  .b-logo    {height: 40px;}
  .b-wrapper {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-title   {width: 100vw; margin: 0px; padding: 15px  0px  5px  0px;}
  .b-message {width: 100vw; margin: 0px; padding:  0px  0px  0px  0px;}
  .b-qrcode  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-button  {width: 100vw; margin: 0px; padding: 10px  0px 15px  0px;}
  .b-footer  {width: 100vw; margin: 0px; padding: 10px 10px 10px 10px;}
}

@media all {
  .only-desktop {display:initial;}
  .only-mobile  {display:none ;}
}
@media only screen and (max-device-width:479px) {
  .only-desktop {display:none ;}
  .only-mobile  {display:initial;}
}: 
</style>
</head>
<body>
    <div>
        <div class="modal-body text-center">
            <div class="profile__logo" id="" aria-hidden="true" >
                <p>
                    <img id="profile__logo__app-image" height=100  src="{{{logo}}}"></img>
                </p>
            </div>
            <div id = "welcome">
                Welcome {{{name}}}
            </div>
            <div class="only-mobile">
                <a href=https://app.svipe.com/cred/{{{jwsCompact}}}?mobile=1>Pick up Vaccination Badge</a>
            </div>
            <div class="only-desktop">            
                <p>To pickup your Vaccination Badge, scan this code:</p>
                <div id="qrcode"><img src={{{srcpic}}} width="30%"></div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
</script>
