#well {
	padding: 0px 0px 0px 0px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	background: -moz-linear-gradient(top, #dddddd, #dddddd);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dddddd),color-stop(1, #dddddd));
	overflow: hidden; 
	-webkit-user-select: none;
}

#well h2 {

	margin: 0px 0px;
  background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
  
  -moz-background-clip: text;
  -webkit-background-clip: text;
  
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  -webkit-animation: slidetounlock 5s infinite;
  
  font-size: 40px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding:  0px 0px 0px 0px;
  width: 200%;
  height: 98px;
  -webkit-text-size-adjust: none;
}
#slider {
	background: url(sviper.png) no-repeat;
	width: 274px;
	height: 98px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

@-webkit-keyframes slidetounlock {
	0% {
		background-position: -400px 0;
	}
	100% {
		background-position: 400px 0;
	}
}